body{
  background-image: url("image.png");
  /* background-position: 20% 20px ; */
  background-size: 100%;
  background-repeat: no-repeat;
}
.mt{
   border: 1px solid;
   width: 200 % ;
    background-color: white;
}
.tbody {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;

}
tr:nth-child(odd) {
  background-color: white;

}
